{% extends 'core/base.html' %}

 {% block content %}
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">First name</th>
      <th scope="col">phone</th>
      <th scope="col">Crud</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
        <tr>
          <td>{{client.get_full_name}}</td>
          <td>{{client.phone}}</td>
          <td>
               <a href="{% url 'core:customer' %}" class="btn btn-primary mr-4">Edit</a>
               <a href="{% url 'core:customer' %}" class="btn btn-danger "> Delete </a>
          </td>
        </tr>
  {% endfor %}
  </tbody>
</table>




    {% endblock %}
